/* ==UserStyle==
@name           snow fall
@namespace      None
@version        1.0.1
@description    падающий снег на всех страницах
@author         t.me/TheZeroStudio
==/UserStyle== */

@-moz-document url-prefix("https") {
    body::after, body::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        inset: 0;
        pointer-events: none;
        top: -99%;
        background-image: url(https://freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
        background-repeat: repeat;
        background-position: center;
        filter: blur(10px);
        background-size: 10px 10px;
        background-color: rgba(0, 0, 0, 0.01);
        animation-name: move;
        animation-duration: 300s;
        animation-iteration-count: 10000;
        animation-timing-function: linear;
    }
    body::after {
        filter: blur(1px);
        top: -0%;
        background-size: 400px;
        animation-duration: 200s;
    }
    body::before {
        filter: blur(4px);
        opacity: 0.5;
    }
    .move::after {
        filter: blur(2px);
        opacity: 0.5;
        top: -70%;
        background-size: 80%;
        animation-duration: 300s
    }
    .move::after {
        filter: blur(4px);
        opacity: 0.4;
        top: -85%;
        background-size: 80%;
        animation-duration: 400s
    }
    @keyframes move {
        0% { background-position: 0 0; }
        0% { background-position: 0px 0px; }
        100% { background-position: 0 1000px; }
        100% { background-position: 2200px 4000px; }
    }
}
